.webinar{
  background-image: url('..//public/assets/images/background-image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-1{
  font-size: 12px;
  font-weight: bold;
   color: #000;
   background-color: #e2a93a;
   border: none;
   border-radius: 20px;
   padding: 5px 30px;
}
.heading{
  padding-top: 70px;
  font-size: 100px;
  font-weight: bold;
  font-family: 'playfairDisplay';
}
.para{
  padding-top: 20px;
  color: #030303;
  font-size: 35px;
  font-weight: 600;
  font-family: 'Lato-Italic';
}
.read{
  text-align: center;
  margin-top: 70px;
}
.btn-2{
  font-size: 12px;
  font-weight: bold;
  color: #000;
  background-color: #e2a93a;
  border: none;
  border-radius: 20px;
  padding: 5px 30px;
}
.btn-3{
  font-size: 12px;
  font-weight: bold;
  color: #000;
  border: 3px solid #e2a93a;
  border-radius: 20px;
  padding: 3px 40px;
}
.para-2{
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
}
